#See http://www.pip-installer.org/en/latest/requirements.html for details
asteval
coverage
mock
ordereddict
psutil
pytest
pytest-cov
pytest-xdist
python-dateutil
PyYAML
unittest2
validictory
PyMySQL
DBUtils
pyproj
prettytable

# When updating nupic.bindings, also update any shared dependencies to keep
# versions in sync.
nupic.bindings==1.0.6
numpy
